body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #4CAF50;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.register-btn {
    background-color: #fff;
    border: none;
    color: #4CAF50;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.register-btn:hover {
    background-color: #ddd;
}

main {
    padding: 2rem;
}

.search-container {
    margin-bottom: 2rem;
    text-align: center;
}

.search-bar {
    width: 100%;
    max-width: 600px;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    transition: transform 0.3s ease, max-height 0.3s ease;
    max-height: 150px;
    overflow: hidden;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
}

.card h2 {
    margin: 0 0 0.5rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    color: #666;
}

.extra-info {
    display: none;
    margin-top: 1rem;
}

.card.expanded .extra-info {
    display: block;
}

.card.expanded {
    max-height: 500px;
}
